entryPoints:
  web:
    address: ":80"
    http:
      # Automatischer Redirect von HTTP auf HTTPS
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
certificatesResolvers:
  dns-resolver:
    acme:
      email: info@lamm-harburg.de
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare 

providers:
  file:
    filename: /etc/traefik/dynamic.yaml
    watch: true
log:
  level: DEBUG

# WICHTIG: Das "L" in accessLog muss groß sein und es braucht einen Doppelpunkt
accessLog: {}
