[Interface]
PrivateKey = {{wireguard_private_key}}
Address = 192.168.0.207/24

[Peer]
PublicKey = G5cBpxPq2dnI8bZkiEAQKny8gS3jtzE6zl8Gu1TCrQs=
PresharedKey = {{wireguard_preshared_key}}
AllowedIPs = 192.168.0.0/24,0.0.0.0/0
Endpoint = t6qehantm6rfqodi.myfritz.net:52509
PersistentKeepalive = 25